* {
    box-sizing: border-box;
}

.clear {
    clear: both;

}

body {
    background-color: #ededed;
    background-image: url("../images/papyrus.png");
    background-repeat: repeat;
    margin: 0;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
}
    
header {
    background-color: #fff;
    border-bottom: 2px solid #ccc;
}

.header-content {
    width: 960px;
    margin: 0 auto;
    height: 90px;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

h1 {
    float: left;
    line-height: 90px;
    margin: 0;
    padding: 0 25px;
    background-color: #4aaaa5;
    color: #fff;
}

nav {
    line-height: 90px;
    float: right;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

nav a {
    color: #777;
    text-decoration: none;
    padding-left: 7px;
}

nav a:not(:last-child) {
    border-right: 1px solid #ccc;
    padding-right: 7px;
}

h2 {
    color: #4aaaa5;
    border-bottom: 2px solid #ccc;
    padding: 15px 0 ;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

.main-content {
    background-color: #fff;
    border: 1px solid #ddd;
    width: 960px;
    margin: 20px auto;
    padding: 0 20px;
}

.headshot {
    float: left;
    width: 200px;
    margin-right: 20px;
}

footer {
    position: sticky;
    bottom: 0;
    background-color: #666;
    border-top: 8px solid #4aaaa5;
    height: 75px;
}
/* I'm considering making the <small> absolutely relative to the <footer> element.*/
.footer-content {
    margin: 0 auto;
    width: 960px;
    text-align: center;
    color: #ccc;
    padding-top: 48px;
}

.container {

    margin-top: 20px;
    background-color: #fff;
    
}

input, textarea {
    width: 100%;
}

textarea {
    height: 200px;
}

.submit {
    padding: 10px 15px;
    border: none;
    background-color: #4aaaa5;
    color: #fff;
}

.portfolio-item {
    float: left;
    margin: 10px;
    width: 300px;
    height: 300px;
    position: relative;
}

.portfolio-item img {
    display: center;
    width: 100%;
    height: 100%;
}

.portfolio-label {
    position: absolute;
    bottom: 15px;
    height: 40px;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    background-color: #4aaaa5;
    color: #fff;
}